@using Microsoft.AspNetCore.Mvc.Internal
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
<div class="masthead">
    <div class="container">
        masthead
    </div>
</div>
<div>
    @RenderBody()
</div>
<div class="page-foot">
    <div class="container">
        <span>&copy; @DateTime.UtcNow.Year</span>
        <ul>
            <li>@Html.RouteLink("Terms", "Home_Terms")</li>
            <li>@Html.RouteLink("Privacy", "Home_Privacy")</li>
            <li>@Html.RouteLink("Legal", "Home_Legal")</li>
            <li>@Html.RouteLink("Admin", "Admin_Index")</li>
        </ul>
        <span>Site by <a href="http://www.lowelogic.com" target="lowelogic">LOWElogic</a>.com</span>
    </div>
</div>
</body>
</html>
